<?xml version="1.0"?>
<model>
  <name>water_bottle</name>
  <version>1.0</version>
  <description>
    A close to standard water bottle, mesh taken from 3d warehouse: https://3dwarehouse.sketchup.com/model.html?id=62451f0ab130709ef7480cb1ee830fb9 made by *StaR*
  </description>
  <author>
    <name>Bence Magyar</name>
    <email>bence.magyar.robotics@gmail.com</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
</model>


